@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 21vh;
  border: 1px white solid;
  border-radius: 2rem;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6)
}