@use "styles/variables" as *;

html{
  font-size: 13px;
}

:root {
  font-weight: 400;

  width: 100vw;
  height: 100vh;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: start;
  min-width: 100vw;
  min-height: 100vh;
  line-height: 1.0;
    background-color: $background-color;
  font-family: $font-family;
  font-style: normal;
  color: $text-color;
}