@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.title{
  font-size: 3rem;
  padding: 0;
  margin: 1rem 0 5vh 0;
}

.colouredText{
  color: $accent-color;
  padding: 0;
  margin: 0;
}

.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 93vh;
}

.content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85%;
  min-height: fit-content;
  height: 65%;
  max-height: 100%;
}