@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;

.container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border: 1px white solid;
  border-radius: 2rem;
  max-width: 40vw;
  height: 42vh;
  padding: 1vw;
  transition: all .5s ease-in-out;
  @include shine-effect;
}

.title{
  font-size: 2rem;
  padding: 0 0 2vw 0;
}

.paragraph{
  font-size: 1.5rem;
}

.tags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}